@inject NavigationManager NavigationManager
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject IAppointmentService appointmentService
@inject IDoctorService DoctorService
@inject AuthenticationStateProvider AuthenticationStateProvider


@if (appointments == null)
{
<p><em>Loading...</em></p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appointment in appointments)
            {
                <tr>
                    <td>@appointment.Date</td>
                    <td>@appointment.Time</td>
                    <td>@appointment.Status</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-6">
            <EditForm Model="Input" FormName="profile" OnValidSubmit="ScheduleAppointment" method="post">
                <DataAnnotationsValidator/>
                <ValidationSummary class="text-danger" role="alert"/>
                <div class="form-floating mb-3">
                    <InputText @bind-Value="Input.Date" class="form-control" placeholder="Please enter desired date."/>
                    <label for="date" class="form-label">Date</label>
                    <ValidationMessage For="() => Input.Date" class="text-danger"/>
                </div>
                <div class="form-floating mb-3">
                    <InputDate id="time" @bind-Value="Input.Time" class="form-control" placeholder="Please enter desired time."/>
                    <label for="date-of-birth" class="form-label">Time</label>
                    <ValidationMessage For="() => Input.Time" class="text-danger"/>
                <div class="form-floating mb-3">
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

@code {
private ApplicationUser user = default!;
private string Id = default!;
private Appointment appointment = new();
public int? appointmentId;
public string? date;
public string? time;
public string? status;
public int? doctorId;
public string? patientId;

[CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

public string Speciality { get; set; } = "Cardiology"; // Default specialization

private List<Appointment> appointments = new();
private List<Doctor> doctors = new();
[SupplyParameterFromForm] private InputModel Input { get; set; } = new();

protected override async Task  OnInitializedAsync()
{

    doctors = await DoctorService.GetDoctors();
    var doctorIds = doctors.Where(d => d.Specialty == Speciality)
        .Select(d => d.DoctorId)
        .ToList();

    var allAppointments = await appointmentService.GetAppointments();
    appointments = allAppointments.Where(a => doctorIds.Contains(a.DoctorId) && a.Status == "free")
        .ToList();
    
    Console.WriteLine($"ilosc wizyt: {appointments.Count}");

    user = await UserAccessor.GetRequiredUserAsync(HttpContext);

    Console.WriteLine($"{Input.Date}");
    if (Input.Date == null)
    {
        var firstAppointment = appointments.FirstOrDefault();
        Input.Date ??= firstAppointment?.Date ?? "2024-06-10";
        Input.Time ??= firstAppointment?.Time ?? "10";
        Input.Status ??= firstAppointment?.Status ?? "free";
        Input.DoctorId ??= firstAppointment?.DoctorId ?? 1;
        Input.PatientId ??= user.Id;
    }

}


private async Task ScheduleAppointment()
{
    appointment.Date ??= Input.Date;
    appointment.Time ??= Input.Time;
    appointment.Status ??= "Scheduled";
    // appointment.AppointmentId =  appointments.FirstOrDefault(a => a.Date == appointment.Date && a.Time == appointment.Time).AppointmentId;
    appointment.PatientId ??= user.Id;
    // appointment.DoctorId = 1;
    try
    {
        if (appointments != null)
        {
            foreach (var a in appointments)
            {
                Console.WriteLine($"{a.Date} {a.Time} {a.Status} {a.DoctorId} {a.PatientId}");
            }
            Console.WriteLine($"Selected appointment: {appointment.AppointmentId} {appointment.Time} {appointment.Date}");

            appointment.AppointmentId = appointments.FirstOrDefault(a => a.Date == appointment.Date && a.Time == appointment.Time).AppointmentId;
            
            if(appointment != null)
            {
                
                
                    appointment.Status = "Scheduled";
                    appointment.PatientId = Id;
                    await appointmentService.UpdateAppointment(appointment);
                    NavigationManager.NavigateTo("/Patient/Specialists");
                // }
                // else
                // {
                //     Console.WriteLine("Selected appointment not found.");
                // }
            }
            else
            {
                Console.WriteLine("Selected appointment not found.");
            }
        }
        else
        {
            Console.WriteLine("Appointments list is null.");
        }
    }
    catch (Exception ex)
    {
        Console.WriteLine($"Error scheduling appointment: {ex.Message}");
    }
}

private sealed class InputModel
{
    public int? AppointmentId { get; set; }
    public string? Date { get; set; }
    public string? Time { get; set; }
    public string? Status { get; set; }
    public int? DoctorId { get; set; }
    public string? PatientId { get; set; }
    
}

}
