@page "/auth"
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = "admin")]
@attribute [StreamRendering]
@rendermode InteractiveAuto

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView>

<div>
    
    <button @onclick="SeeDoctors" class="btn btn-primary">Doctors</button>
    <button @onclick="SeeUsers" class="btn btn-primary">Users</button>
    <button @onclick="SeeAppointments" class="btn btn-primary">Appointments</button>
</div>

@code {

    void SeeDoctors()
    {
        NavigationManager.NavigateTo("admin/doctors");
    }
    void SeeUsers()
    {
        NavigationManager.NavigateTo("admin/users");
    }
    void SeeAppointments()
    {
        NavigationManager.NavigateTo("admin/appointments");
    }

}


