@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = "admin")]
@rendermode InteractiveAuto

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView>

<div>
    <button class="btn btn-primary"><a asp-page="/doctor">Doctors</a></button>
    <button class="btn btn-primary"><a asp-page="/users">Users</a></button>
    <button class="btn btn-primary"><a asp-page="/appointments">Appointments</a></button>
</div>