@page "/appointment/cardiology"


<PageTitle>Cardiology Appointments</PageTitle>

<p>
    <a href="/Patient/Specialists">Back to Specialists</a>
</p>



<h1>Avaible appointments</h1>
<BlazorApp1.Components.Account.Appointments.Cardiology></BlazorApp1.Components.Account.Appointments.Cardiology>