@page "/appointment/GeneralSurgery"


<PageTitle>General Surgery Appointments</PageTitle>

<p>
    <a href="/Patient/Specialists">Back to Specialists</a>
</p>



<h1>Avaible appointments</h1>
<BlazorApp1.Components.Account.Appointments.GeneralSurgery></BlazorApp1.Components.Account.Appointments.GeneralSurgery>