@page "/appointment/Oncology"


<PageTitle>Oncology Appointments</PageTitle>

<p>
    <a href="/Patient/Specialists">Back to Specialists</a>
</p>



<h1>Avaible appointments</h1>
<BlazorApp1.Components.Account.Appointments.Oncology></BlazorApp1.Components.Account.Appointments.Oncology>