@page "/appointment/Psychiatry"


<PageTitle>Psychiatry Appointments</PageTitle>

<p>
    <a href="/Patient/Specialists">Back to Specialists</a>
</p>



<h1>Avaible appointments</h1>
<BlazorApp1.Components.Account.Appointments.Psychiatry></BlazorApp1.Components.Account.Appointments.Psychiatry>