@page "/appointment/Radiology"


<PageTitle>Radiology Appointments</PageTitle>

<p>
    <a href="/Patient/Specialists">Back to Specialists</a>
</p>



<h1>Avaible appointments</h1>
<BlazorApp1.Components.Account.Appointments.Radiology></BlazorApp1.Components.Account.Appointments.Radiology>